.solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(270deg, #e5a745, #111);
  animation-name: Gradient;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  background-size: 400% 400%;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

.solutions figure {
  height: 150px;
  width: 250px;
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: 75px;
  text-align: center;
}

.solutions figure img {
  border-radius: 10px;
}

.solutions figcaption {
  margin-bottom: 18px;
}

.solutions figure a {
  padding: 10px 30px;
  background: #c8923c;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.solutions figure a:hover {
  background: white;
  color: black;
}

.solutions h1 {
  width: 75%;
  text-align: center;
  font-size: 50px;
  line-height: 0.14em;
  padding-top: 40px;
  border-radius: 10px;
  background-color: #c8923c;
  margin-bottom: 55px;
}
.title-celeb {
  margin-bottom: 0px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.intro {
  text-align: center;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
#mybutton {
  position: fixed;
  bottom: 20px;
  right: 14px;
  z-index: 1000;
}
.feedback {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(270deg, #e5a745, #f5b755);
  border: none;
  color: black;
  padding: 14px 25px;
  border-radius: 999px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.feedback:hover {
  text-decoration: none;
  opacity: 0.7;
}

.feedback:active {
  outline: none;
  background-color: white;
  color: black;
}

.feedback:focus {
  outline: none;
}

.celeb-info {
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: auto;
}
