.nav {
  position: fixed;
  font-size: 15px;
  height: 70px;
  width: 100%;
  margin-top: Auto;
  background-color: #1c1c1c;
  color: black;
  z-index: 1;
}
.nav ul {
  padding: 0;
  list-style: none;
  float: right;
  padding-right: 25px;
}

.nav li {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  padding-top: 21px;
  padding-bottom: 25px;
  float: right;
  display: inline;
}
.dropdown-1:target .dropdown-content-1 {
  display: block;
}
.dropdown-1 {
  position: relative;
  display: inline-block;
}
a {
  font-family: "Nunito";
  text-decoration: none !important;
  color: white !important;
  padding: 10px 10px;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #c8923c;
  min-width: 170px;
  margin-top: -3px;
  padding-top: 25px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 800px;
  width: 1000px;
}
.dropdown-content-1 a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content-1 button {
  background: black;
  color: #c8923c;
  padding: 14px 30px;
  margin-top: 140px;
  margin-left: 10px;
  border-radius: 999px;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-content-1 button:hover {
  opacity: 0.8;
}

/* Change color of dropdown links on hover */
.dropdown-content-1 a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.hometitle {
  line-height: 1.8em;
  margin-top: 11px;
  margin-left: 25px;
  border-radius: 10px;
  opacity: 0.9;
  height: 55px;
  width: 55px;
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 15px;
    height: 70px;
    width: 100%;
    margin-top: Auto;
    background-color: #1c1c1c;
    animation-name: Gradient;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    background-size: 400% 400%;
    color: black;
    z-index: 1;
  }
  .nav ul {
    display: none;
    padding: 0;
    list-style: none;
    float: right;
    padding-right: 14px;
  }

  .nav li {
    padding: 10px 5px;
    padding-top: 20px;
    padding-bottom: 25px;
    float: right;
    display: inline;
  }
}
