.intro-partners {
  text-align: center;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.title-partners {
  margin-bottom: 0px;
}
.contact-partners {
  font-weight: bold;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.email-partners {
  text-align: center;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
}
.solutions figure {
  height: 150px;
  width: 250px;
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: 75px;
  text-align: center;
}

.solutions figure img {
  border-radius: 10px;
}

.solutions figcaption {
  margin-bottom: 18px;
}

.solutions figure a {
  padding: 10px 30px;
  background: #c8923c;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.solutions figure a:hover {
  background: white;
  color: black;
}
